@import './variables/global.scss';
@import './reset.scss';
@import './themes/light.scss';
@import './themes/dark.scss';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-page {
  display: flex;
  flex-grow: 1;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
