.root {
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 12px;
  align-items: start;
  color: var(--inverted-secondary-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
