$padding-top: 20px;

.root {
  max-width: var(--sidebar-width);
  width: 100%;
  background: var(--inverted-bg-color);
  position: relative;
  transition: max-width 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: $padding-top;
  color: var(--inverted-secondary-color);
  flex-grow: 1;
}

.collapsedBtn {
  position: absolute;
  transform: translate(100%);
  right: 0;
  bottom: $padding-top;
}

.switchers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px $padding-top;
  flex-wrap: wrap;
}

.links {
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    fill: var(--inverted-secondary-color);
  }
}

.text {
  white-space: nowrap;
  width: auto;
  opacity: 1;
  transition: opacity 0.3s;
  visibility: visible;
}

.collapsed {
  max-width: var(--sidebar-width-collapsed);

  .links {
    align-self: center;
  }

  .link {
    gap: 0;
  }

  .text {
    opacity: 0;
    width: 0;
    visibility: hidden;
  }
}
