.app.dark {
  --bg-color: #000032;
  --inverted-bg-color: #f4f7ff;

  --primary-color: #ffffff;
  --secondary-color: #c52b2b;

  --inverted-primary-color: #21294a;
  --inverted-secondary-color: #4c546f;
}
