.app.dark {
  --bg-color: #000032;
  --primary-color: #f4f4fb;
  --secondary-color: #9fd2ec;
  --inverted-bg-color: #f4f7ff;
  --inverted-primary-color: #21294a;
  --inverted-secondary-color: #050505;
}
