.app.light {
  --bg-color: #f4f7ff;
  --primary-color: #21294a;
  --secondary-color: #050505;

  --inverted-bg-color: #000032;
  --inverted-primary-color: #f4f4fb;
  --inverted-secondary-color: #9fd2ec;
}
