.app.light {
  --bg-color: #f4f7ff;
  --inverted-bg-color: #000032;
  --primary-color: #21294a;
  --secondary-color: #4c546f;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #c52b2b;
}
